<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santri</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>

    <h1>List Santri</h1>
    <a href="/logout">Logout</a>
    <a href="/santri/add">Add Santri</a>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Parent</th>
                <th>Birth Year</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.parent %></td>
                    <td><%= el.birth_year %></td>
                    <td><%= el.gender %></td>
                    <td><%= el.address %></td>
                    <td><%= el.email %></td>
                    <td><a href="/santri/update/<%= el.id %> ">edit</a> | <a href="/santri/delete/<%= el.id %> ">delete</a></td>
                </tr>             
            <% }) %>
        </tbody>
    </table>
</body>
</html>